* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-primary: #111827;
  --bg-secondary: #1f2937;

  --color-primary: #22c55e;
  --color-primary-hover: #16a34a;

  --accent-color: #38bdf8;

  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;

  --border-color: #374151;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.header {
  padding: 10px;
  color: var(--color-primary);
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
}

.titulo {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.navbar ul {
  display: flex;
  padding: 20px;
  justify-content: center;
  list-style: none;
}

.navbar ul a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-primary);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  transition:
    background-color 0.5s,
    color 0.5s,
    transform 0.5s;
}

.navbar ul a:hover {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  transform: scale(1.05);
}

.hero {
  display: flex;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 20px;
  text-align: left;
}

.logo {
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: 2px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: translateY(-3px);
}

.hero h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-primary);
  line-height: 1.2;
}

.hero-description {
  color: var(--text-secondary);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.7;
}

.hero-buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 16px;
}

.btn-cv,
.btn-project {
  font-size: 1rem;
  padding: 12px 24px;
  color: var(--text-primary);
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.btn-cv:hover,
.btn-project:hover {
  transform: scale(1.05);
}

.btn-project {
  background-color: transparent;
  border: 1px solid var(--border-color);
}

.btn-project:hover {
  background-color: var(--bg-secondary);
}

.btn-cv {
  background-color: var(--color-primary);
  border: none;
}

.btn-cv:hover {
  background-color: var(--color-primary-hover);
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero-image img {
  max-width: 420px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.02);
}
